@media(max-width:799px){
    .section-p1{
        padding:40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top:0;
        right: -300px;
        height:100vh;
        width:300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgb(0, 0, 0,0.1 );
        padding:80px 0 0 10px;
        transition: 0.3s;
    } 

    #navbar.active{
        right:0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display:flex;
        align-items: center;
    }

    #mobile i{
        color:#1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display:initial;
        position:absolute;
        top:30px;
        left:30px;
        color:#222;
        font-size: 24px;
    }

    #lg-bag{
        display:none;
    }

    /* hero section */
    #hero {
        height: 70vh;
        width: 100%;
        background-position: top 30% right 30%;
        /* background-position: top 25% right 0; */
        padding: 0 80px;
        
    }

    /* feature section */
    #feature{
        justify-content: center;

    }

    #feature .fe-box{
        margin:15px 15px;
    }

    /* featured products */
    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        margin:15px;
    }

    /* banner */
    #banner{
        height:30vh;
    }

    #sm-banner .banner-box{
        min-width:100%;
        height:30vh;
    }

    #sm-banner .banner-box2{
        margin-top: 20px;;
    }

    #banner3{
        padding:0 40px;
    }

    #banner3 .banner-box{
        width:28%;
    }

    /* form section */
    #newsletter .form{
        width:70%;
    }
}

/* for android phone */
@media(max-width:477px){
    .section-p1{
        padding:20px;
    }
    #header{
      padding:10px 30px;
    }

    h1{
      font-size: 38px;  
    }

    h2{
        font-size: 32px;
    }

    #hero{
        padding:0 20px;
        background-position: 55%;
    }

    #feature{
        justify-content: space-between;
    }

    #feature .fe-box{
        width:155px;
        margin:0 0 15px 0;
    }

    #product1 .pro{
        width:100%;
    }


    /* banner */
    #banner{
        height:40vh;
    }

    #sm-banner .banner-box{
        height:40vh;
    }

    #sm-banner .banner-box2{
        margin-top: 20px;;
    }

    #banner3{
        padding:0 20px;
    }

    #banner3 .banner-box{
        width:100%;
    }


    #newsletter{
        padding:40px 20px;
    }
    #newsletter .form{
        width:100%;
    }

    footer .copyright{
        text-align: start;
    }
}